.App {
  text-align: center;
  background-color: #010409;
  color: #EEEEEE;
}


.sec-level {
  text-align: center !important;
  background-color: #0d1117 !important;
  color: #EEEEEE !important;
}

.third-level {
  text-align: center;
  background-color: #1c2129;
  color: #EEEEEE;
}

.accent {
  text-align: center;
  background-color: #00ADB5;
  color: #010409;
}

/* results button */
.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #00ADB5 !important;
  color: #010409 !important;
  border-color: #00b3bd !important;
}

.btn-primary:hover {
  background-color: #00cbd6!important;
}

/* buttons over darkest background */
.btn-outline-primary {
  border-color: #00ADB5 !important;
  color: #00ADB5 !important;
}

.btn-outline-primary:hover, .btn-outline-primary:visited {
  border-color: #00ADB5 !important;
  background-color: #222933 !important;
  color: #00ADB5 !important;
}

/* buttons over light background */
.btn-outline-info {
  border-color: #00ADB5 !important;
  color: #00ADB5 !important;
}

.btn-outline-info:hover, .btn-outline-info:visited {
  border-color: #00ADB5 !important;
  background-color: #0d1117 !important;
  color: #00ADB5 !important;
}



.form-control, .form-control:active, .form-control:focus, .form-control:focus:active {
  background-color: #010409 !important;
  color: #EEEEEE !important;
  border-color: #292f3b !important;
}

.form-select, .form-select:active, .form-select:focus, .form-select:focus:active {
  background-color: #010409 !important;
  color: #EEEEEE !important;
  border-color: #292f3b !important;
}

/* import data pop up */
.modal-header, .modal-body, .modal-footer { 
  background: #1c2129 !important;
  color: #EEEEEE !important;
  border-color: #292f3b !important;
}

.modal-content{
  background-color: transparent;
  border:none !important;
}

input[type=checkbox]{
  background-color: #010409!important;
  border-color: #292f3b !important;
}


.App-header {
  background-color: #F6F5F2;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

